a{
    color: #11999E;
}
a:hover{
    color:#EAF6F6;
}
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #2bc4ad;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.copyright{
    position: relative;
    color:#2b4343;
    font-size:0.75rem;
    top:100px;

}
.freelancer{
    margin-bottom: 0px;
    margin-top: 20px;
}
.feel-free{
    margin-bottom:50px;
}
.footer-link{
    position: relative;
    top: 50px;
    margin: 10px;
    text-decoration: none;
}
h1 {
    font-size: 5.625em;
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.hello{
    font-family: 'Sacramento', cursive;
}
hr{
    border-style: none none dotted none;
    border-width: 10px;
    color: #627070;
    width: 5%;
}

.mountain-img{
    position:relative;
}
.top-container {
    position: relative;
    background-color: #EAF6F6;
    padding-top: 100px;
    height: 610px;
}
.bottom-container{
    
    background-color:#66BFBF;
    height: 200px;
    margin: 50px auto 0px;
}

.top-cloud {
    position: absolute;
    right: 400px;
    top:100px;
}
.bottom-cloud {
    position: absolute;
    left:400px;
    top:300px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skill-1-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.skill-2-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}